<%# Copied from RapidUI v0.1.4 | Source: rapid_ui/docs/app/views/components/content/_iconset.html.erb %>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
  <% iconset.each do |icon| %>
    <div class="flex items-center gap-2 p-2 rounded">
      <%= render RapidUI::Icon.new(icon, size: 24) %>
      <code class="typography-code"><%= icon %></code>
    </div>
  <% end %>
</div>
